<!-- Individual Comment -->  
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
    <strong><%= comment.commenter %></strong>   
  </div>  

  <div class="col-md-10">
    <%= comment.body %> 
    <!-- Raty individual rating here-->
    <div class="rated" data-score="<%= comment.rating %>"></div>  
  </div>

  <div class="col-md-2">
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Remove Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger"  %>
    <% end %>            
    <br>
    <% if signed_in? %>
      <%= link_to 'Review Comment', 
        edit_article_comment_path(comment.article, comment),
        class: "btn btn-primary" %>
    <% end %>   
                   
  </div>

  <div class="col-md-12">
    <hr>    
  </div>
    
</div>  