<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="jumbotron center">
    <h1> <%= @article.title %> </h1>
    <hr>
    <!-- Add the average out of total rating pluralise here. -- >  
    <quote>
      <strong> <%= @article.description %> </strong>
    </quote>
    <hr>
    <h3>By <strong><%= @article.author %></strong></h3>
    <%= @article.updated_at.strftime("%d %B %Y") %>
  </div>  

  
  <div class="row">
    <div class="col-md-12">

      <div class="img-container">    
        <%= image_tag(@article.image_url, class: "img-responsive") %>
      </div>
    </div>
  </div>
  <hr>

  <article> <%= @article.text %> </article>
  <hr>
  <p>
    First posted by 
    <strong><%= @article.author %></strong>
    on 
    <strong><%= @article.created_at.strftime("%d %b %Y") %></strong> 
    at 
    <strong><%= @article.created_at.strftime("%H:%M") %></strong>.
  </p>
  <p>
    Last updated on 
    <strong><%= @article.updated_at.strftime("%d %b %Y") %></strong>
    at 
    <strong><%= @article.updated_at.strftime("%H:%M") %></strong>.
  </p>
  <hr>
  <div class="center">  
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %> |
    <%= link_to 'Back', articles_path, class: "btn btn-info"  %>   
  </div> 
  <hr>


  <div class="container-fluid">
    <h2>Comments</h2>
    <!-- Add average rating here for overall-->
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments %>
    <%= render @comments %>
    

    <%= will_paginate @comments%>
  </div>  

  <div class="container-fluid">
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>    
  </div>

  <hr>
  <div class="center">  
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>   |   
    <%= link_to 'Back', articles_path, class: "btn btn-info"  %>   
  </div> 
  <hr>

</div> 

 
