<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bike Basingstoke Rails Demo", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <li><%= link_to 'Show Products', products_path %></li> 
        <!-- Remember login if and else here from sample app -->        
      </ul>
    </nav>
  </div>
</header>
