<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Blog Web App</title>
    
    <!-- Custom styles in assets folder linked here -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Custom javascript in assets folder linked here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <!--  The Rails method csrf_meta_tags, which prevents cross-site request forgery (CSRF), a type of malicious web attack. -->
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- Header -->
    <%= render 'layouts/header' %>

    <!-- Devise "notices" and "alerts" -->
    <%= render 'layouts/notices_and_alerts' %>

    <!-- Body -->
    <%= yield %>

      <!-- Footer -->
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>

  </body>
</html>

